<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @work.display_year %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @work.display_duration %>
</p>

<p>
  <strong>Instruments:</strong>
  <%= @work.instruments %>
</p>

<p>
  <strong>Program Notes [ENG]:</strong>
  <%= @work.program_notes_en %>
</p>

<p>
  <strong>Program Notes [IT]:</strong>
  <%= @work.program_notes_it %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
