<h1 class="entry-title"><%= @work.title %></h1>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
<br>
  <strong>Year:</strong>
  <%= @work.display_year %>
<br>
  <strong>Duration:</strong>
  <%= @work.display_duration %>
<br>
  <strong>Description:</strong>
  <em>in ex. for Acousmatic sound diffusion setup, for Live Electronics a list of Instruments:</em>
  <%= @work.instruments %>
<br>
  <strong><%= pluralize(@work.authors.uniq.count, "author") %>:</strong>

  <table class="table" id="authors">
    <thead>
      <th>Name</th>
      <th>Year</th>
      <th>Roles</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <%= render partial: 'authors/author_item', collection: @work.authors.uniq %>
    </tbody>
  </table>

<br>
  <strong>Program Notes [ENG]:</strong>
  <%= @work.program_notes_en %>
<br>
  <strong>Program Notes [IT]:</strong>
  <%= @work.program_notes_it %>
<br>
  <strong>Submitted Files:</strong>
  <ul>
  <% @work.submitted_files.each do |sf| %>
    <li><%= sf.filename %> | <%= sf.size %> bytes</li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_work_path(@work), class:"btn" %>
<%= link_to 'Back', works_path, class:"btn" %>

<hr>

<center>
<%= link_to 'List of Works', works_path, class:"twobtn" %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%# link_to 'Sign out', destroy_account_session_path, class:"twobtn", method: :delete %>
<center>
