<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @author.birth_year %>
</p>

<p>
  <strong>Bio en:</strong>
  <%= @author.bio_en %>
</p>

<p>
  <strong>Bio it:</strong>
  <%= @author.bio_it %>
</p>
<p>
  <strong>Works associated to #{@author.full_name}:</strong>
  <%= render partial: 'works/inner_show', collection: @author.works %>
  <%= render 'add_new_work' %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
