<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
<br>
  <strong>Last name:</strong>
  <%= @author.last_name %>
<br>
  <strong>Birth year:</strong>
  <%= @author.display_birth_year %>
<br>
  <strong>Bio en:</strong>
  <%= @author.bio_en %>
<br>
  <strong>Bio it:</strong>
  <%= @author.bio_it %>
</p>

<%= link_to 'Edit', edit_work_author_path(@work, @author), class:"btn" %>
<%= link_to 'Back', work_authors_path(@work), class:"btn"%>
