<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @author.birth_year %>
</p>

<p>
  <strong>Bio en:</strong>
  <%= @author.bio_en %>
</p>

<p>
  <strong>Bio it:</strong>
  <%= @author.bio_it %>
</p>
<p>
  <strong>Works associated to <%= @author.full_name %>:</strong>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Duration</th>
        <th>Instruments</th>
        <th>Roles</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <%= render partial: 'works/index_table', collection: @author.works_with_roles %>
    </tbody>
  </table>
  <br />
  <%= link_to 'Add new work', new_author_work_path(@author) %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
