<h1 class="entry-title">Select Roles:</h1>

<span><strong>Select at least one role for each author (you may select all that apply):</strong></span>

<%= form_for(:work_role_author, url: work_works_roles_authors_path(@work)) do |f| %>
  <%= render partial: 'select_role', collection: @authors, locals: { form: f, roles: @roles } %>
  <%= f.button('Submit selection of roles') %>
<% end %>

<br />

<%= link_to 'Back', select_work_authors_path(@work), class:"btn" %>

<hr>

<center>
<%= link_to 'List of Works', works_path, class:"twobtn" %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Sign out', destroy_account_session_path, class:"twobtn", method: :delete %>
<center>
