<p>
  <strong>First name:</strong>
  <%= @account.first_name %>
<br>
  <strong>Last name:</strong>
  <%= @account.last_name %>
<br>
  <strong>E-mail:</strong>
  <%= @account.email %>
<br>
  <strong>Location:</strong>
  <%= @account.location %>
<br>
  <strong>Account created on:</strong>
  <%= @account.created_at %>
<br>
<% if @account.remember_created_at %>
  <strong>Last Login on:</strong>
  <%= @account.remember_created_at %>
</p>
<% end %>

<br>

<%= link_to 'Edit', edit_account_registration_path, class:"btn" %>

<hr>

<center>
<%= link_to 'List of Works', works_path, class:"twobtn" %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%# link_to 'Sign out', destroy_account_session_path, method: :delete, class:"twobtn" %>
<center>
