<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :acro %><br>
    <%= f.text_field :acro %>
  </div>
  <div class="field">
    <%= f.label :title_en %><br>
    <%= f.text_field :title_en %>
  </div>
  <div class="field">
    <%= f.label :title_it %><br>
    <%= f.text_field :title_it %>
  </div>
  <div class="field">
    <%= f.label :description_en %><br>
    <%= f.text_area :description_en %>
  </div>
  <div class="field">
    <%= f.label :description_it %><br>
    <%= f.text_area :description_it %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
