<p id="notice"><%= notice %></p>

<p>
  <strong>Acro:</strong>
  <%= @category.acro %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @category.title_en %>
</p>

<p>
  <strong>Title it:</strong>
  <%= @category.title_it %>
</p>

<p>
  <strong>Description en:</strong>
  <%= @category.description_en %>
</p>

<p>
  <strong>Description it:</strong>
  <%= @category.description_it %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
