<!DOCTYPE html>
<html>
<head>
  <title>EMUFest Submission Form</title>

  <%= render partial: 'shared/common_header_cruft' %>

</head>

<body id="page">

  <%= render partial: 'shared/header' %>

  <div class="js-menu-screen menu-screen">
  </div>

  <div id="main" role="main">

    <article class="entry">
      <div class="entry-large-wrapper">

        <p class="notice"><%= notice %></p>

        <%= yield %>

      </div>
    </article>
    <%= render partial: 'shared/footer' %>
  </div>

  <%= render partial: 'shared/common_footer_cruft' %>

</body>
</html>
